<div class="flex h-screen bg-gray-50">
  <!-- Sidebar: Reduced width from w-80 to w-64 for a smaller sidebar -->
  <app-sidebar [role]="role" class="w-64 bg-white border-r shadow-md flex-shrink-0"></app-sidebar>
  
  <!-- Main Content Area -->
  <div class="flex flex-col flex-grow overflow-hidden">
    <!-- Header -->
    <app-header [role]="role" class="bg-global-bg px-6 py-4"></app-header>
    
    <!-- Dashboard Content -->
    <div class="flex-grow px-6 py-4 bg-global-bg overflow-y-auto">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
