<div class=" bg-gray-50 min-h-screen">
    <div class="grid grid-cols-12 gap-6">
      
      <!-- Welcome Header -->
      <div class="col-span-8">
        <app-welcome-header></app-welcome-header>
      </div>

      <div class="col-span-4 ">
        <app-reminders></app-reminders>
      </div>
  
      <!-- Body Content on the left -->
      <div class="col-span-8">
        <app-body-content></app-body-content>
      </div>
  
      <!-- Reminders and Calendar on the right -->
      <div class="col-span-4 ">
        <app-calendar></app-calendar>
      </div>
  
    </div>
  </div>
  