<div class="relative bg-teal-100 px-10 rounded-lg flex items-center">
    <div class="flex-1">
      <h1 class="text-3xl font-bold text-green-800">Welcome! Trinidad, Cheska</h1>
      <p class="text-green-700 mt-2">
        The G.R.A.C.E. (Geriatric Response & Action Center for the Elderly) Integrated Care Portal is a comprehensive digital platform designed to enhance the delivery of coordinated care for elderly patients, their caregivers, and healthcare providers within a hospital setting and the broader community.
      </p>
    </div>
    <div class="flex-shrink-0 h-full">
      <img src="assets/img/header-content.png" alt="Doctor Illustration" class="h-full object-contain">
    </div>
</div>
