<header class="flex items-center justify-between px-8 py-4 bg-white shadow-lg rounded-xl border-b border-gray-200">
  <div class="flex items-center space-x-4">
    <i class="fa fa-calendar text-xl text-gray-500"></i>
    <span class="text-gray-700">{{ currentTime }}</span>
  </div>
  
  <div class="flex items-center space-x-6">
    <button class="relative">
      <i class="fa fa-bell text-gray-500 text-xl"></i>
      <span class="absolute bottom-3 left-2 inline-flex items-center justify-center w-4 h-4 text-xs font-bold leading-none text-white bg-red-600 rounded-full">9</span>
    </button>
    <div class="relative">
      <img [src]="getProfileImage()" alt="User Avatar" class="w-12 h-12 rounded-full ">
    </div>
  </div>
</header>
